<div class="sidebar">
    <div class="logo-details">
        <a href="/" class="adminMode">
            <i class='bx bxl-c-plus-plus'></i>
            <span class="logo_name">Admin Mode</span>
        </a>
    </div>
    <ul class="nav-links">
        <li>
            <a href="#">
                <i class='bx bx-grid-alt'></i>
                <span class="links_name">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="/admin">
                <i class='bx bx-box'></i>
                <span class="links_name">Products</span>
            </a>
        </li>
        <li>
            <a href="/admin/view-orders">
                <i class='bx bx-list-ul'></i>
                <span class="links_name">Order list</span>
            </a>
        </li>
        <li>
            <a href="/admin/get-all-users">
                <i class='bx bx-pie-chart-alt-2'></i>
                <span class="links_name">Users</span>
            </a>
        </li>
        <li>
            <a href="/admin/logout" onclick=" return confirm('Do you really want to Log Out ?')">
                <i class='bx bx-coin-stack'></i>
                <span class="links_name">Log out</span>
            </a>
        </li>
    </ul>
</div>
</section>


<script>
    let sidebar = document.querySelector(".sidebar");
    let sidebarBtn = document.querySelector(".sidebarBtn");
    sidebarBtn.onclick = function () {
        sidebar.classList.toggle("active");
        if (sidebar.classList.contains("active")) {
            sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
        } else
            sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
    }
</script>

</body>
<section>
    <div class="container bg-white border-circle mt-5">

        <table class="styled-table" id="ordersTable">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Address</th>
                    <th scope="col">Pincode</th>
                    <th>Mobile</th>
                    <th>Payment method</th>
                    <th>Total Amount</th>
                    <th>Status</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                {{#each orders}}
                <tr class="active-row">
                    <td>{{this.date}}</td>
                    <td>{{this.deliveryDetails.address}}</td>
                    <td>{{this.deliveryDetails.pincode}}</td>
                    <td>{{this.deliveryDetails.mobile}}</td>
                    <td>{{this.paymentMethod}}</td>
                    <td>₹ {{this.totalAmount}}</td>
                    <td>{{this.status}}</td>
                    <td>
                        <a href="/view-order-products/{{this._id}}" class="btn btn-primary">View products</a>
                       <td> <a href="/admin/view-ordered-user?id={{this.userId}}" class="btn btn-success">View user</a></td>

                    </td>
                </tr>
                {{/each}}
            </tbody>

        </table>

    </div>

</section>
<style>
    /* Googlefont Poppins CDN Link */
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

    .adminMode {
        text-decoration: none;
        padding-left: 40px;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

    .sidebar {
        position: fixed;
        height: 100%;
        width: 240px;
        background: #0A2558;
        transition: all 0.5s ease;
    }

    .sidebar.active {
        width: 60px;
    }

    .sidebar .logo-details {
        height: 80px;
        display: flex;
        align-items: center;
    }

    .sidebar .logo-details i {
        font-size: 28px;
        font-weight: 500;
        color: #fff;
        min-width: 60px;
        text-align: center
    }

    .sidebar .logo-details .logo_name {
        color: #fff;
        font-size: 24px;
        font-weight: 500;
    }

    .sidebar .nav-links {
        margin-top: 10px;
    }

    .sidebar .nav-links li {
        position: relative;
        list-style: none;
        height: 50px;
    }

    .sidebar .nav-links li a {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        text-decoration: none;
        transition: all 0.4s ease;
    }

    .sidebar .nav-links li a.active {
        background: #081D45;
    }

    .sidebar .nav-links li a:hover {
        background: #081D45;
    }

    .sidebar .nav-links li i {
        min-width: 60px;
        text-align: center;
        font-size: 18px;
        color: #fff;
    }

    .sidebar .nav-links li a .links_name {
        color: #fff;
        font-size: 15px;
        font-weight: 400;
        white-space: nowrap;
    }

    .sidebar .nav-links .log_out {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .styled-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

    ,
    .styled-table thead tr {
        background-color: #009879;
        color: #ffffff;
        text-align: left;
    }

    ,
    .styled-table th,
    .styled-table td {
        padding: 12px 15px;
    }

    ,
    .styled-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }

    .styled-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }

    .styled-table tbody tr:last-of-type {
        border-bottom: 2px solid #009879;
    }

    ,
    .styled-table tbody tr.active-row {
        font-weight: bold;
        color: #009879;
    }
</style>


<script>
    $(function () {
        $('#ordersTable').DataTable();

    });
</script>